{% extends 'catalog/home.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                </div>
            </div>
            {% if object %}
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {{ formset.management_form}}
                        {% for form in formset.forms %}
                        {{ form.as_p }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </form>

    </div>
</div>
{% endblock %}
